* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

#root {
  width: 100%;
  height: 100vh;
  user-select: none;
}
#root.hide {
  display: none;
}

@media screen and (min-width: 650px) {
  .image-grid {
    margin-top: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, 500px);
  }
  .image-item:nth-child(5n + 1) {
    grid-column-end: span 2;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer.credits {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  opacity: 0.6;
  font-size: 1.2rem;
  padding: 10px 0;
  backdrop-filter: blur(5px);
  width: 100%;
  text-align: center;
  font-family: monospace;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 650px) {
  #root {
    width: 90%;
    margin: 0 auto;
  }
}
